<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>About Us</title>
</head>

<header>
    <div class="bg-img">
      <h1>About Us</h1>
      <div>
      <nav>
        
          <button class="goback"><a href="/">Go Back</a></button>
        
      </nav>
    </div>
    </div>
  </header>
<body class="aboutus">

 <div>
    <h1>John F</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Quam dolores cumque incidunt? Corporis, excepturi voluptatibus! 
        Vitae voluptates optio quam explicabo, blanditiis voluptas beatae, 
        architecto quasi nesciunt cumque inventore possimus quod. Lorem ipsum 
        dolor sit amet consectetur adipisicing elit. Cumque consequatur laborum 
        placeat corrupti fugit asperiores natus sapiente commodi consequuntur. 
        Asperiores repellat dolor qui dicta repellendus corrupti eos blanditiis 
        itaque nisi?</p>
            <a href="/">Portfolio</a>
            <a href="/">LinkedIn</a>
            <a href="/">GitHub</a>
        <!--inline img on left side-->    
 </div>

 <div>
    <h1>Kat K</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Quam dolores cumque incidunt? Corporis, excepturi voluptatibus! 
        Vitae voluptates optio quam explicabo, blanditiis voluptas beatae, 
        architecto quasi nesciunt cumque inventore possimus quod. Lorem ipsum 
        dolor sit amet consectetur adipisicing elit. Cumque consequatur laborum 
        placeat corrupti fugit asperiores natus sapiente commodi consequuntur. 
        Asperiores repellat dolor qui dicta repellendus corrupti eos blanditiis 
        itaque nisi?</p>
        <a href="/">Portfolio</a>
        <a href="/">LinkedIn</a>
        <a href="/">GitHub</a>
    <!--inline img on left side-->   
 </div>

 <div>
    <h1>Travis R</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Quam dolores cumque incidunt? Corporis, excepturi voluptatibus! 
        Vitae voluptates optio quam explicabo, blanditiis voluptas beatae, 
        architecto quasi nesciunt cumque inventore possimus quod. Lorem ipsum 
        dolor sit amet consectetur adipisicing elit. Cumque consequatur laborum 
        placeat corrupti fugit asperiores natus sapiente commodi consequuntur. 
        Asperiores repellat dolor qui dicta repellendus corrupti eos blanditiis 
        itaque nisi?</p>
        <a href="/">Portfolio</a>
        <a href="/">LinkedIn</a>
        <a href="/">GitHub</a>
    <!--inline img on left side-->   
 </div>

 <div>
    <h1>Walta Y</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Quam dolores cumque incidunt? Corporis, excepturi voluptatibus! 
        Vitae voluptates optio quam explicabo, blanditiis voluptas beatae, 
        architecto quasi nesciunt cumque inventore possimus quod. Lorem ipsum 
        dolor sit amet consectetur adipisicing elit. Cumque consequatur laborum 
        placeat corrupti fugit asperiores natus sapiente commodi consequuntur. 
        Asperiores repellat dolor qui dicta repellendus corrupti eos blanditiis 
        itaque nisi?</p>
        <a href="/">Portfolio</a>
        <a href="/">LinkedIn</a>
        <a href="/">GitHub</a>
    <!--inline img on left side-->   
 </div>
    
</body>
</html>