<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
   
    <h1>
        Questions:
    </h1>
<table>
<tr>
    <td>


    <table>
        <thead>
            <tr>
               <strong><h8>Pick all that apply</h8></strong> 
                <p th:text="${question.question}"></p>
            </tr>
        </thead>
        <tbody>
            <form action="#" th:action="@{/question}" th:object="${question}"method="post">
            <tr th:each="answer, stat : ${question.answerDto}">
                <td>
                    <input type="checkbox" 
                    th:name="|answerDto[${stat.index}].id|"
                    th.value="${answer.getId()}"
                    th:checked="${answer.selected}">
                  
                    
                </td>
                <td th:text="${answer.answer}"></td>
             
                
            </tr> 
            <button type="submit">Next</button>
        </form>
        </tbody>
    </table>
</td>
<td>
    <table>
        <tr th:each="score : ${scoreboard}">
        <td>
            <td  th:text="${score.score}"></td>
            <td th:text="${score.petType}"></td>
        </td>
        </tr>
    </table>
</td>
</tr>
</table>

</body>

</html>