<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/quiz.css}" />
    <title>Quiz</title>
</head>

<body>
    <div class="bg-img">
        <h1>
            Pet Matchmaker Quiz
        </h1>
        <div class="container">
            <nav class="menu-content">
              <ul class="navbar1">
                <li><a href="/">Home</a></li>
                <li><a href="/resource">Resources</a></li>
                <li><a href="/aboutus">About us</a></li>
                <li><a href="/autologin">Auto Login</a></li>
              </ul>
            </nav>
          </div>
    <table>
        <tr>
            <td>


                <table>
                    <thead>
                        <tr>
                           
                            <p th:text="${question.question}"></p>
                            <strong>
                                <h8>*Pick all that apply*</h8>
                            </strong>
                        </tr>
                    </thead>
                    <tbody>
                        <form id="questionform" action="#" th:action="@{/question}" th:object="${question}" method="post">
                            <tr th:each="answer, stat : ${question.answerDto}">
                                <td>
                                    <input type="checkbox" th:name="|answerDto[${stat.index}].answer|"
                                        th.value="${answer.getId()}" th:checked="${answer.selected}">


                                </td>
                                <td th:text="${answer.answer}"></td>
                            </div>

                            </tr>
                            
                        </form>
                        <td class="nextbtn">
                            <button form="questionform" type="submit">Next</button>
                            </td>
                    </tbody>
                </table>
            </td>
            <td>
                <table>
                    <tr th:each="score : ${scoreboard}">
                        <td>
                        <td th:text="${score.score}"></td>
                        <td th:text="${score.petType}"></td>
            </td>
        </tr>
    </table>
    </td>
    </tr>
    </table>

</body>

</html>